.navbar {
  display: flex;
  justify-content: space-between; /* h1 left, links right */
  align-items: center;
  background-color: #0D3E4A;
  color: white;
  padding: 20px 30px 20px 30px;
  position: fixed;  /* stick to top */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

* {
  box-sizing: border-box;
}

.logo {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

/* Links container */
.nav-items {
  display: flex;   /* horizontal layout */
  gap: 20px;       /* spacing between links */
}

/* Individual links */
.nav-items a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.nav-items a:hover {
  text-decoration: underline;
}
